/* Add these styles in your CSS file */
/* .scrolling-container {
  position: relative;
}

.scrolling-content {
  display: flex;
  white-space: nowrap;
  position: absolute;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
} */

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-container {
  overflow: hidden;
}

.scrolling-content {
  display: flex;
  white-space: nowrap;
}
